.primary-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5em 1em;
    background: var(--col-bg);
    color: var(--col-txt);
    border: 0;
    border-radius: 10em;
    width: fit-content;
    cursor: pointer;
    border: 1.5px solid transparent;
}

.primary-btn:active {
    background: var(--col-bg-alt);
}

.primary-btn:hover {
    border: 1.5px solid var(--col-blue);
}